{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.js",
    "**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80,
  "watermarks": {
    "lines": [
      70,
      90
    ],
    "functions": [
      70,
      90
    ],
    "brances": [
      70,
      90
    ],
    "statements": [
      70,
      90
    ]
  },
  "report-dir": "./reports/coverage",
  "temp-directory": "./reports/coverage/.nyc_output"
}